.logo-link img{width: 70px;}
.bg-image{background-color: #000;}
.is-transparent:not(.has-fixed) .menu > .menu-item:hover > a {color:#afcb1f;}
.banner-menu li a:hover {color: #afcb1f;}
.btn{background: #afcb1f;}
.menu-item a.active, .menu-item a:hover {color: #afcb1f;}
.btn:hover, .btn:focus { background:#1c1b17; color: #ffffff; }
.wgs-logo img{width: 70px;}
.line { background: #afcb1f; }
.btn-scroll{background: #afcb1f;}
.btn-scroll:hover { background:#afcb1f; }
.preloader.preloader-texas::before, .preloader.preloader-texas::after { background:#000; }
.spinner{border-color: #afcb1f;}
.spinner-alt::after { border-color:#afcb1f; }
.social li a:hover { color:#afcb1f; }
.dash::before, .dash::after { background: #afcb1f; }
.bg-primary { background-color: #afcb1f !important; }
.overlay-dark::after { background: none; }
.icon { color: #afcb1f; }
.section-feature-alt .bdr-rt { border: 1px solid rgba(255,255,255,0.15); }
.section-feature-alt {  padding-bottom: 100px; }
.copyright-content p a:hover {color: #afcb1f;}
.wgs-menu li a:hover {color: #afcb1f !important;}
.copyright-content .social li a:hover {color:#afcb1f !important;}
.banner-s2 .banner-content .sub-heading{text-transform: uppercase;}
.banner-inner .banner-heading {font-weight: 900; line-height: 1.2;}
@media (min-width: 992px) { 
    .section-x {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    .error-page-section .error-thumbnail{display: none;}
    .features-cat-list-area{display: none;}
}
.contact-icon { color:#afcb1f; }
.contact-list li{border-bottom: 1px solid rgba(255,255,255,0.3);}
.contact-list li a:hover { color: #afcb1f; }
.post-content .btn{background: none;}
.btn-arrow {color:#afcb1f;}
.event_image{width: 80px; height: 80px; background-size: contain; background-repeat: no-repeat;
background-position: center;}
.post-content h4 a:hover { color: #afcb1f; }
.post-content .btn:hover, .post-content .btn:focus { color: #000; }
.post-full .post-date { background:#afcb1f; }
.post-full .post-content h3 a:hover { color:#afcb1f; }
.event-big-thumb{width: 100%; height: 250px; background-repeat: no-repeat;
background-position: center; background-size: contain;
border: 1px solid #eee;}