<?=\Moorexa\Rexa::runDirective(true,'component','header')?>
<?=\Moorexa\Rexa::runDirective(true,'alert')?>

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Edit Container</h3>
	</div>
	<div class="card-body">
		<!-- edit container -->
		<div class="table-responsive">
			<form action="" method="POST">
				<?=\Moorexa\Rexa::runDirective(true,'csrf')?>
				<table class="table">
					<tr>
						<td>Container Name</td>
						<td>
							<input name="container_name" value="<?=$container->container_name?>" class="form-control" required>
						</td>
					</tr>

					<tr>
						<td>Container Body</td>
						<td>
							<textarea name="container_body" class="form-control text-creat" rows="10" required><?=$thisModel->renderPlain($container->container_body)?></textarea>
						</td>
					</tr>

					<tr>
						<td></td>
						<td>
							<button name="edit" type="submit" class="btn btn-success">Update</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>


<h3 class="card-title">Your containers created.</h3>
<?=\Moorexa\Rexa::runDirective(true,'partial','containers')?>
<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>