<div class="breadcrumb-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumb_box text-center">
					<h2 class="breadcrumb-title">About us</h2>
					<!-- breadcrumb-list start -->
					<ul class="breadcrumb-list">
						<li class="breadcrumb-item"><a href="<?=url("")?>">Home</a></li>
						<li class="breadcrumb-item active">About us</li>
					</ul>
					<!-- breadcrumb-list end -->
				</div>
			</div>
		</div>
	</div>
</div>

 <!--===========  feature-large-images-wrapper  Start =============-->
 <div class="feature-large-images-wrapper section-space--ptb_100">
	<div class="container">
		<div class="cybersecurity-about-box">
			<div class="row">
				<div class="col-lg-4">
					<div class="conact-us-wrap-one managed-it">
						<h5 class="heading "><?=\Moorexa\Rexa::runDirective(true,'container','our-specialty-text')?></h5>
					</div>
				</div>
				<div class="col-lg-7 offset-lg-1">
					<div class="cybersecurity-about-text">
						<div class="text">
							<?=\Moorexa\Rexa::runDirective(true,'container','about-us')?>
						</div>
						<div class="button-group-wrap">
							<a href="<?=url("store")?>" class="ht-btn ht-btn-md mr-md-3 mb-20">Our Store</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!--===========  feature-large-images-wrapper  End =============-->

<!--===========  feature-images-wrapper  Start =============-->
<div class="feature-images-wrapper bg-gray section-space--ptb_100">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<!-- section-title-wrap Start -->
				<div class="section-title-wrap text-center section-space--mb_30">
					<h3 class="heading">Reliable IT Services for <span class="text-color-primary"> Businesses</span></h3>
				</div>
				<!-- section-title-wrap Start -->
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="feature-images__four">
					<div class=" row">
						<div class="single-item col-lg-4 col-md-6 mt-30 wow move-up">
							<!-- ht-box-icon Start -->
							<a href="#" class="ht-box-images style-04">
								<div class="image-box-wrap">
									<div class="box-image">
										<img class="img-fulid" src="assets/images/icons/mitech-box-image-style-05-image-01-60x60.png" alt="">
									</div>
									<div class="content">
										<h5 class="heading">IT Design</h5>
										<div class="text">We provide the most responsive and functional IT design for companies and businesses worldwide.</div>
									</div>
								</div>
							</a>
							<!-- ht-box-icon End -->
						</div>
						<div class="single-item col-lg-4 col-md-6 mt-30 wow move-up">
							<!-- ht-box-icon Start -->
							<a href="#" class="ht-box-images style-04">
								<div class="image-box-wrap">
									<div class="box-image">
										<img class="img-fulid" src="assets/images/icons/mitech-box-image-style-05-image-02-60x60.png" alt="">
									</div>
									<div class="content">
										<h5 class="heading">IT Management </h5>
										<div class="text">It’s possible to simultaneously manage and transform information from one server to another.</div>
									</div>
								</div>
							</a>
							<!-- ht-box-icon End -->
						</div>
						<div class="single-item col-lg-4 col-md-6 mt-30 wow move-up">
							<!-- ht-box-icon Start -->
							<a href="#" class="ht-box-images style-04">
								<div class="image-box-wrap">
									<div class="box-image">
										<img class="img-fulid" src="assets/images/icons/mitech-box-image-style-05-image-03-60x60.png" alt="">
									</div>
									<div class="content">
										<h5 class="heading">Data Security</h5>
										<div class="text">Back up your database, store in a safe and secure place while still maintaining its accessibility.</div>
									</div>
								</div>
							</a>
							<!-- ht-box-icon End -->
						</div>
						<div class="single-item col-lg-4 col-md-6 mt-30 wow move-up">
							<!-- ht-box-icon Start -->
							<a href="#" class="ht-box-images style-04">
								<div class="image-box-wrap">
									<div class="box-image">
										<img class="img-fulid" src="assets/images/icons/mitech-box-image-style-05-image-04-60x60.png" alt="">
									</div>
									<div class="content">
										<h5 class="heading">Workforce Management</h5>
										<div class="text">Suspe ndisse suscipit sagittis leo sit met condime ntum esti laiolainx bulum iscipit sagittis leo sit met con ndisse suscipit sagittis leo sit met cone su</div>
									</div>
								</div>
							</a>
							<!-- ht-box-icon End -->
						</div>
						<div class="single-item col-lg-4 col-md-6 mt-30 wow move-up">
							<!-- ht-box-icon Start -->
							<a href="#" class="ht-box-images style-04">
								<div class="image-box-wrap">
									<div class="box-image">
										<img class="img-fulid" src="assets/images/icons/mitech-box-image-style-05-image-05-60x60.png" alt="">
									</div>
									<div class="content">
										<h5 class="heading">Business Reform</h5>
										<div class="text">We provide the most responsive and functional IT design for companies and businesses worldwide.</div>
									</div>
								</div>
							</a>
							<!-- ht-box-icon End -->
						</div>
						<div class="single-item col-lg-4 col-md-6 mt-30 wow move-up">
							<!-- ht-box-icon Start -->
							<a href="#" class="ht-box-images style-04">
								<div class="image-box-wrap">
									<div class="box-image">
										<img class="img-fulid" src="assets/images/icons/mitech-box-image-style-05-image-06-60x60.png" alt="">
									</div>
									<div class="content">
										<h5 class="heading">Infrastructure Plan</h5>
										<div class="text">Mitech takes into account all conditions and budgets needed for building infrastructure plan..</div>
									</div>
								</div>
							</a>
							<!-- ht-box-icon End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--===========  feature-images-wrapper  End =============-->

<div class="site-wrapper-reveal">
	<!--===========  our history wrapper  Start =============-->
	<div class="our-history-wrapper section-space--ptb_100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- section-title-wrap Start -->
					<div class="section-title-wrap text-center section-space--mb_30">
						<h3 class="heading mb-20">We create dreams <span class="text-color-primary"> for the future.</span> <br> We realize them sucessfully. </h3>
							<p class="title-dec-text">You know that you found your dream when you have a desire to achieve a goal, have the gut to pursue it, have the courage to overcome any obstacles on your path and feel blessed when finally realizing it. Dream on, keep up and make it pay off.</p>
					</div>
					<!-- section-title-wrap Start -->
				</div>
			</div>

			<div class="timeline-area section-space--pt_60">
				<div class="row">
					<div class="col-lg-12">
						<div class="ht-timeline style-01">
							<ul class="tm-timeline-list ht-animation-queue">
								<li class="line"></li>
								<li class="item animate">
									<div class="dots">
										<div class="middle-dot"></div>
									</div>

									<div class="row">
										<div class="col-md-6 timeline-col left timeline-feature">
											<div class="inner">
												<div class="date-wrap">
													<h2 class="year">Vision</h2>
												</div>

												<div class="photo">
													<img src="<?=\Moorexa\Rexa::runDirective(true,'getImage','vision-image')?>" alt="timeline-image-01" class="img-fluid">
												</div>
											</div>
										</div>
										<div class="col-md-6 timeline-col right timeline-info">
											<div class="inner">
												<div class="content-wrap">
													<div class="content-body">
														<h6 class="heading">The Foundation of Mitech</h6>

														<div class="text">
															The beginning of Mitech Co. was laid by three men: Jackie Moodle, Alan Morray and Burrow Kills. Back in 1988, three passionate young pupils, whose major is Information Technology, had discussed with each other about starting a company to deliver technological & digital services in an old rented apartment. </div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="item animate">
									<div class="dots">
										<div class="middle-dot"></div>
									</div>

									<div class="row">
										<div class="col-md-6 timeline-col left timeline-feature">
											<div class="inner">
												<div class="date-wrap">
													<h6 class="year"> Mission </h6>
												</div>

												<div class="photo">
													<img src="<?=\Moorexa\Rexa::runDirective(true,'getImage','mission-image')?>" alt="timeline-image-01" class="img-fluid">
												</div>
											</div>
										</div>
										<div class="col-md-6 timeline-col right timeline-info">
											<div class="inner">
												<div class="content-wrap">
													<div class="content-body">
														<h6 class="heading">Mitech’s Golden Age</h6>

														<div class="text">
															Mitech had been operating for 5 years when it reached the golden age in the company’s history. They received two prestigious awards for Dedicated Services & Community Contribution (in 1990), plus three successive award nominations for Best IT Company of the year (respectively in 1991, 1992 & 1993).
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--===========  feature-large-images-wrapper  End =============-->
</div>


<?=\Moorexa\Rexa::runDirective(true,'partial','contact-us')?>