<?=\Moorexa\Rexa::runDirective(true,'component','header')?>
<?=\Moorexa\Rexa::runDirective(true,'alert')?>

<!-- create container -->
<div class="card">
	<div class="card-header">
		<h3 class="card-title">Create a Container</h3>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<form action="" method="POST">
				<?=\Moorexa\Rexa::runDirective(true,'csrf')?>
				<table class="table">
					<tr class="table-row">
						<td>Container Name</td>
						<td>
							<input name="container_name[]" value="" class="form-control" placeholder="Enter a container name">
						</td>
					</tr>

					<tr class="table-row">
						<td>Container Body</td>
						<td>
							<textarea name="container_body[]" class="form-control text-creat" rows="10" placeholder="Enter text or block of HTML tags"></textarea>
						</td>
					</tr>

					<tbody id="rows">

					</tbody>

					<tr>
						<td></td>
						<td>
							<button name="create" type="submit" class="btn btn-success">Create</button>
							<button type="button" id="addtablerow" class="btn btn-info"><i class="fa fa-plus"></i> Add Row</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<h3 class="card-title">Your containers created.</h3>
<?=\Moorexa\Rexa::runDirective(true,'partial','containers')?>
<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>