<?=\Moorexa\Rexa::runDirective(true,'container','header-with-breadcum')?>

<section class="section section-x">
	<div class="container">
		<div class="row gutter-vr-30px">

		<?php $images = \Moorexa\Rexa::runDirective(true,'getImages',100);?>
		<?php
$images = $images;if ($images->rows > 0){
while ($image = $images->obj())
{ ?>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="<?=image($image->image, '940:650')?>" class="fancybox" rel="ligthbox">
				<img src="<?=image($image->image, '940:650')?>" class="zoom img-fluid" alt="">
			</a>
		</div>
		<?php }} ?>
	   
	   
   </div>
</div>
</section>

<?=\Moorexa\Rexa::runDirective(true,'container','callout-section')?>
<?=\Moorexa\Rexa::runDirective(true,'container','footer')?>