<?=\Moorexa\Rexa::runDirective(true,'component','header')?>
<p>Showing directives created. <?=\Moorexa\Rexa::runDirective(true,'component','create-button', ['button' => CMS::loadButton(['create'])])?> </p>
<?=\Moorexa\Rexa::runDirective(true,'alert')?>
<?=\Moorexa\Rexa::runDirective(true,'component','alert-confirm', ['type' => 'danger', 'title' => 'Delete Directive', 'message' => 'This action would delete this directive. Click "Okay" to continue'])?>
<?=\Moorexa\Rexa::runDirective(true,'partial','directive')?>
<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>