<?=\Moorexa\Rexa::runDirective(true,'component','header')?>
<p>Install a theme, package or plugin.</p>
<?=\Moorexa\Rexa::runDirective(true,'alert')?>
<div class="card">
	<div class="card-body">
		<div class="table-responsive">
			<form action="" method="POST" enctype="multipart/form-data">
				<?=\Moorexa\Rexa::runDirective(true,'csrf')?>
				<table class="table">

					<tr>
						<td>Installation title.</td>
						<td>
							<input name="installation_title" class="form-control" type="text" placeholder="Enter installation title." required>
						</td>
					</tr>

					<tr>
						<td>Select a zip file.</td>
						<td>
							<input name="install_file" class="form-control" type="file" data-accept=".zip" required>
						</td>
					</tr>

					<tr>
						<td>Installation Type.</td>
						<td>
							<select name="installation_type" class="form-control" required>
								<option value="">Please select</option>
								<option value="Themes">Theme from marketplace</option>
								<option value="Plugins">Plugin from marketplace</option>
								<option value="Packages">Package from marketplace</option>
							</select>
						</td>
					</tr>

					<tr>
						<td></td>
						<td>
							<button type="submit" class="btn btn-success">Install</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>