<?=\Moorexa\Rexa::runDirective(true,'component','header')?>
<?=\Moorexa\Rexa::runDirective(true,'alert')?>

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Create Navigation</h3>
	</div>
	<div class="card-body">
		<!-- edit container -->
		<div class="table-responsive">
			<form action="" method="POST">
				<?=\Moorexa\Rexa::runDirective(true,'csrf')?>
				<table class="table">
					<tr>
						<td>Page Name</td>
						<td>
							<input name="page_name" class="form-control" placeholder="Enter a page name" required>
						</td>
					</tr>

					<tr>
						<td>Page Link</td>
						<td>
							<input name="page_link"  class="form-control" placeholder="Enter page link" required>
						</td>
					</tr>

					<tr>
						<td>Page Title</td>
						<td>
							<input name="page_title" class="form-control" placeholder="Enter page title (optional)">
						</td>
					</tr>

					<tr>
						<td>Page Keywords</td>
						<td>
							<input name="keyword" class="form-control" placeholder="Enter page keywords for SEO (optional)">
						</td>
					</tr>

					<tr>
						<td>Page Description</td>
						<td>
							<textarea name="description" class="form-control" placeholder="Enter page description for SEO (optional)"></textarea>
						</td>
					</tr>

					<tr>
						<td>Page Parent</td>
						<td>
							<select name="parentid" class="form-control">
								<option value="0">None</option>
								<?php
$navigation = \Moorexa\DB::sql('SELECT * FROM '.(\Moorexa\DB::getTableName('navigation')).' ');if ($navigation->rows > 0){
while ($nav = $navigation->obj())
{ ?>
									<option value="<?=$nav->navigationid?>"><?=$nav->page_name?></option>
								<?php }} ?>
							</select>
						</td>
					</tr>

					<tr>
						<td>Breadcum Title</td>
						<td>
							<input name="breadcum_title" class="form-control" placeholder="Enter page breadum (optional)">
						</td>
					</tr>

					<tr>
						<td>Position</td>
						<td>
							<input name="position" class="form-control" type="number" placeholder="Enter page position (optional)">
						</td>
					</tr>

					<tr>
						<td></td>
						<td>
							<button type="submit" class="btn btn-success">Create</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<h3 class="card-title">Showing Navigations</h3>
<?=\Moorexa\Rexa::runDirective(true,'partial','navigation')?>
<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>