<?=\Moorexa\Rexa::runDirective(true,'component','header')?>
<?=\Moorexa\Rexa::runDirective(true,'alert')?>

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Edit Navigation</h3>
	</div>
	<div class="card-body">
		<!-- edit container -->
		<div class="table-responsive">
			<form action="" method="POST">
				<?=\Moorexa\Rexa::runDirective(true,'csrf')?>
				<table class="table">
					<tr>
						<td>Page Name</td>
						<td>
							<input name="page_name" value="<?=$page->page_name?>" class="form-control" required>
						</td>
					</tr>

					<tr>
						<td>Page Link</td>
						<td>
							<input name="page_link" value="<?=$page->page_link?>" class="form-control" required>
						</td>
					</tr>

					<tr>
						<td>Page Title</td>
						<td>
							<input name="page_title" value="<?=$page->page_title?>" class="form-control">
						</td>
					</tr>

					<tr>
						<td>Page Keywords</td>
						<td>
							<input name="keyword" value="<?=$page->keyword?>" class="form-control">
						</td>
					</tr>

					<tr>
						<td>Page Description</td>
						<td>
							<textarea name="description" class="form-control"><?=$page->description?></textarea>
						</td>
					</tr>

					<tr>
						<td>Page Parent</td>
						<td>
							<select name="parentid" class="form-control">
								<option value="0">None</option>
								<?php
$navigation = \Moorexa\DB::sql('SELECT * FROM '.(\Moorexa\DB::getTableName('navigation')).' ');if ($navigation->rows > 0){
while ($nav = $navigation->obj())
{ ?>
									<?php if($nav->navigationid == $page->parentid) { ?>
										<option value="<?=$nav->navigationid?>" selected><?=$nav->page_name?></option>
									<?php } else { ?>
										<option value="<?=$nav->navigationid?>"><?=$nav->page_name?></option>
									<?php } ?>
								<?php }} ?>
							</select>
						</td>
					</tr>

					<tr>
						<td>Breadcum Title</td>
						<td>
							<input name="breadcum_title" value="<?=$page->breadcum_title?>" class="form-control">
						</td>
					</tr>

					<tr>
						<td>Position</td>
						<td>
							<input name="position" value="<?=$page->position?>" class="form-control" type="number">
						</td>
					</tr>

					<tr>
						<td></td>
						<td>
							<button type="submit" class="btn btn-success">Update</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<h3 class="card-title">Showing Navigations</h3>
<?=\Moorexa\Rexa::runDirective(true,'partial','navigation')?>
<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>