<?=\Moorexa\Rexa::runDirective(true,'component','header')?>
<?=\Moorexa\Rexa::runDirective(true,'alert')?>

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Upload images</h3>
	</div>
	<!-- edit container -->
	<div class="card-body">
		<div class="table-responsive">
			<form action="" method="POST" enctype="multipart/form-data">
				<?=\Moorexa\Rexa::runDirective(true,'csrf')?>
				<table class="table">
					<tbody id="rows">
					<tr class="table-row">
						<td>Image Name</td>
						<td>
							<input name="image_name[]" value="" class="form-control" placeholder="Enter an image name">
						</td>
					</tr>

					<tr class="table-row">
						<td>Image</td>
						<td>
							<div class="form-group">
								<input type="file" name="image_path[]" data-accept=".png,.jpg,.jpeg,.gif">
							</div>
						</td>
					</tr>

					</tbody>

					<tr>
						<td></td>
						<td>
							<button name="create" type="submit" class="btn btn-success">Upload</button>
							<button type="button" id="addtablerow" class="btn btn-info"><i class="fa fa-plus"></i> Add Row</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>


<h3 class="card-title">Your images uploaded.</h3>
<?=\Moorexa\Rexa::runDirective(true,'partial','images')?>
<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>