<?=\Moorexa\Rexa::runDirective(true,'component','header')?>

<!-- get plugins -->
<?php $plugins = Query::getPlugins();?>

<!-- create container -->
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Plugin</th>
                    <th>Plugin Path</th>
                </tr>
                <?php
$plugins = $plugins;if ($plugins->rows > 0){
while ($plugin = $plugins->obj())
{ ?>
                <tr>
                    <td><a href="<?=url("zema/plugins/$plugin->installation_title")?>"><?=$plugin->installation_title?></a></td>
                    <td><?=$plugin->installation_path?></td>
                </tr>
                <?php }} ?>
            </table>
        </div>
    </div>
</div>

<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>