<?=\Moorexa\Rexa::runDirective(true,'component','header')?>
<p>Showing navigation created. <?=\Moorexa\Rexa::runDirective(true,'component','create-button', ['button' => CMS::loadButton(['create'])])?> </p>
<?=\Moorexa\Rexa::runDirective(true,'alert')?>
<?=\Moorexa\Rexa::runDirective(true,'component','alert-confirm', ['type' => 'danger', 'title' => 'Delete Page', 'message' => 'This action would delete this view from your page. Click "Okay" to continue'])?>

<?=\Moorexa\Rexa::runDirective(true,'partial','navigation')?>

<h3 class="card-title">Showing Views</h3>
<?=\Moorexa\Rexa::runDirective(true,'component','app-views')?>

<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>