<?=\Moorexa\Rexa::runDirective(true,'component','header')?>
<?=\Moorexa\Rexa::runDirective(true,'alert')?>
<div class="card">
	<div class="card-header">
		Add a table for management
	</div>

	<div class="card-body">
		<form action="<?=url('zema/tables/create')?>" method="POST">
			<?=\Moorexa\Rexa::runDirective(true,'csrf')?>
			<table class="table">
				<tr class="table-row">
					<td>Table Identifier</td>
					<td>
						<input name="table_identifier[]" value="" class="form-control" placeholder="Enter your table identifier" required>
					</td>
				</tr>

				<tr class="table-row">
					<td>Table Linker</td>
					<td>
						<select name="table_linker[]" class="form-control" required>
							<?php $tables = Moorexa\DB::sql('show tables');?>
							<option value="">--Please select a table--</option>
							<?php
$tables = $tables;if ($tables->rows > 0){
while ($table = $tables->obj())
{ ?>
								<option value="<?=$table->val(0)?>"><?=$table->val(0)?></option>
							<?php }} ?>
						</select>
					</td>
				</tr>

				<tr class="table-row">
					<td>Table Json Command for columns</td>
					<td>
						<textarea name="table_json[]" class="form-control text-creat" rows="10" placeholder="Enter json command for table"><?php 
 // PHP starts here 

							echo json_encode([
								'foreign_keys' => [
									'-column' => [
									'table' => '-table-name',
									'column' => '-column-name-as-identifier'
									]
								],
								'rename' => [],
								'hide' => []
							], JSON_PRETTY_PRINT);
						
 // PHP ends here 
 ?></textarea>
					</td>
				</tr>

				<tbody id="rows">

				</tbody>

				<tr>
					<td></td>
					<td>
						<button name="create" type="submit" class="btn btn-success">Create</button>
						<button type="button" id="addtablerow" class="btn btn-info"><i class="fa fa-plus"></i> Add Row</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<?=\Moorexa\Rexa::runDirective(true,'partial','tables')?>
<?=\Moorexa\Rexa::runDirective(true,'component','footer')?>
