<div class="breadcrumb-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumb_box text-center">
					<h2 class="breadcrumb-title">About us</h2>
					<!-- breadcrumb-list start -->
					<ul class="breadcrumb-list">
						<li class="breadcrumb-item"><a href="<?=url("")?>">Home</a></li>
						<li class="breadcrumb-item active">About us</li>
					</ul>
					<!-- breadcrumb-list end -->
				</div>
			</div>
		</div>
	</div>
</div>

 <!--===========  feature-large-images-wrapper  Start =============-->
 <div class="feature-large-images-wrapper section-space--ptb_100">
	<div class="container">
		<div class="cybersecurity-about-box">
			<div class="row">
				<div class="col-lg-4">
					<div class="conact-us-wrap-one managed-it">
						<h5 class="heading "><?=\Moorexa\Rexa::runDirective(true,'container','our-specialty-text')?></h5>
					</div>
				</div>
				<div class="col-lg-7 offset-lg-1">
					<div class="cybersecurity-about-text">
						<div class="text">
							<?=\Moorexa\Rexa::runDirective(true,'container','about-us')?>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!--===========  feature-large-images-wrapper  End =============-->

<div class="tabs-wrapper bg-gray section-space--ptb_100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title-wrapper text-center section-space--mb_60 wow move-up animate" style="opacity: 0; visibility: visible;">
					<h6 class="section-sub-title mb-20">discover our company</h6>
					<h3 class="section-title">We’ve come a long way in <span class="text-color-primary"> 25 years</span> </h3>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 ht-tab-wrap">
				<div class="text-center  ">
					<ul class="nav justify-content-center ht-tab-menu ht-tab-menu_two" role="tablist">
						<li class="tab__item nav-item active">
							<a class="nav-link active" id="nav-tab1" data-toggle="tab" href="#tab_list_06" role="tab" aria-selected="true">Our coverage</a>
						</li>
						<li class="tab__item nav-item">
							<a class="nav-link" id="nav-tab2" data-toggle="tab" href="#expertise" role="tab" aria-selected="false">Our expertise</a>
						</li>
						<li class="tab__item nav-item ">
							<a class="nav-link" id="nav-tab3" data-toggle="tab" href="#tab_list_08" role="tab" aria-selected="false">Why choose us</a>
						</li>
						<li class="tab__item nav-item ">
							<a class="nav-link" id="nav-tab5" data-toggle="tab" href="#tab_list_09" role="tab" aria-selected="false">How we stand out</a>
						</li>
					</ul>
				</div>

				<div class="tab-content ht-tab__content">

					<div class="tab-pane fade active show" id="tab_list_06" role="tabpanel">
						<div class="tab-history-wrap section-space--mt_40">
							<div class="row">
								<div class="col-lg-5">
									<div class="tab-history-image video-popup mt-30">
										<a href="" class="video-link">
											<div class="single-popup-wrap">
												<img class="img-fluid" src="<?=\Moorexa\Rexa::runDirective(true,'getImage','coverage-image')?>" alt="">
											</div>
										</a>
									</div>
								</div>
								<div class="col-lg-6 offset-lg-1 ">
									<div class="tab-content-inner  mt-30">
										<div class="text mb-30">
											<?=\Moorexa\Rexa::runDirective(true,'getcontainer','our-coverage')?>
										</div>
									
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="expertise" role="tabpanel">
							<div class="tab-history-wrap section-space--mt_40">
								<div class="row">
									
									<div class="col-lg-6">
										<div class="tab-content-inner  mt-30">
											<div class="text mb-30">
												<?=\Moorexa\Rexa::runDirective(true,'getcontainer','our-expertise')?>
											</div>
										</div>
									</div>

									<div class="col-lg-5 offset-lg-1">
										<div class="tab-history-image video-popup mt-30">
											<a href="" class="video-link">
												<div class="single-popup-wrap">
													<img class="img-fluid" src="<?=\Moorexa\Rexa::runDirective(true,'getImage','our-expertise')?>" alt="">
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="tab_list_08" role="tabpanel">
							<div class="tab-history-wrap section-space--mt_40">
								<div class="row">
									<div class="col-lg-5">
										<div class="tab-history-image video-popup mt-30">
											<a href="" class="video-link">
												<div class="single-popup-wrap">
													<img class="img-fluid" src="<?=\Moorexa\Rexa::runDirective(true,'getImage','why-choose-us')?>" alt="">
												</div>
											</a>
										</div>
									</div>
									<div class="col-lg-6 offset-lg-1 ">
										<div class="tab-content-inner  mt-30">
											<div class="text mb-30">
												<?=\Moorexa\Rexa::runDirective(true,'getcontainer','why-choose-us')?>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="tab_list_09" role="tabpanel">
							<div class="tab-history-wrap section-space--mt_40">
								<div class="row">
									
									<div class="col-lg-6  ">
										<div class="tab-content-inner  mt-30">
											<div class="text mb-30">
												<?=\Moorexa\Rexa::runDirective(true,'getcontainer','how-we-stand-out')?>
											</div>
										</div>
									</div>

									<div class="col-lg-5 offset-lg-1">
										<div class="tab-history-image video-popup mt-30">
											<a href="" class="video-link">
												<div class="single-popup-wrap">
													<img class="img-fluid" src="<?=\Moorexa\Rexa::runDirective(true,'getImage','how-we-stand-out')?>" alt="">
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
</div>

<div class="site-wrapper-reveal">
	<!--===========  our history wrapper  Start =============-->
	<div class="our-history-wrapper section-space--ptb_100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- section-title-wrap Start -->
					<div class="section-title-wrap text-center section-space--mb_30">
						<h3 class="heading mb-20">We create dreams <span class="text-color-primary"> for the future.</span> <br> We realize them sucessfully. </h3>
							<p class="title-dec-text">You know that you found your dream when you have a desire to achieve a goal, have the gut to pursue it, have the courage to overcome any obstacles on your path and feel blessed when finally realizing it. Dream on, keep up and make it pay off.</p>
					</div>
					<!-- section-title-wrap Start -->
				</div>
			</div>

			<div class="timeline-area section-space--pt_60">
				<div class="row">
					<div class="col-lg-12">
						<div class="ht-timeline style-01">
							<ul class="tm-timeline-list ht-animation-queue">
								<li class="line"></li>
								<li class="item animate">
									<div class="dots">
										<div class="middle-dot"></div>
									</div>

									<div class="row">
										<div class="col-md-6 timeline-col left timeline-feature">
											<div class="inner">

												<div class="photo">
													<img src="<?=\Moorexa\Rexa::runDirective(true,'getImage','vision-image')?>" alt="timeline-image-01" class="img-fluid">
												</div>
											</div>
										</div>
										<div class="col-md-6 timeline-col right timeline-info">
											<div class="inner">
												<div class="content-wrap">
													<div class="content-body">
														<h6 class="heading">Our Vision</h6>

														<div class="text">
															<?=\Moorexa\Rexa::runDirective(true,'container','vision-text')?>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="item animate">
									<div class="dots">
										<div class="middle-dot"></div>
									</div>

									<div class="row">
										<div class="col-md-6 timeline-col left timeline-feature">
											<div class="inner">

												<div class="photo">
													<img src="<?=\Moorexa\Rexa::runDirective(true,'getImage','mission-image')?>" alt="timeline-image-01" class="img-fluid">
												</div>
											</div>
										</div>
										<div class="col-md-6 timeline-col right timeline-info">
											<div class="inner">
												<div class="content-wrap">
													<div class="content-body">
														<h6 class="heading">Our Mission</h6>

														<div class="text">
															<?=\Moorexa\Rexa::runDirective(true,'container','mission-text')?>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--===========  feature-large-images-wrapper  End =============-->
</div>



<?=\Moorexa\Rexa::runDirective(true,'partial','contact-us')?>