form input[type="file"]{position: relative; opacity: 1;}
.table-image{width: 50px; height: 50px; border-radius: 50%;}
.tr-row:hover{background-color: #316cbe; color: #fff;}
.tr-row:hover .icon{color: #fff !important;}