@component('header');

@alert;
@component('alert-confirm', ['type' => 'danger', 'title' => 'Destroy Database', 'message' => 'This action would reset your application. Click "Okay" to continue']);

<div class="card">
	<div class="card-header">
		Global Configuration Site Settings
	</div>

	<div class="card-body">
		{$config = Query::getConfig();}
		<form action="{url('zema/configuration')}" method="POST" enctype="multipart/form-data">
			
			@csrf;
			@method('update');

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
                        <label class="form-label">Site Name</label>
                        <input type="text" name="sitename" class="form-control" placeholder="Your Site Name" value="{$config->sitename}" required>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<div class="form-label">Site Icon</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" style="opacity: 0;" name="favicon">
							<label class="custom-file-label">Choose file</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
                        <label class="form-label">Default Controller</label>
                        <input type="text" name="default_controller" class="form-control" placeholder="Default Controller" value="{$config->default_controller}" required>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
                        <label class="form-label">Default View</label>
                        <input type="text" name="default_view" class="form-control" placeholder="Default View" value="{$config->default_view}" required>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
                        <label class="form-label">SEO Keywords</label>
                        <input type="text" name="keywords" class="form-control" id="input-tags" value="{$config->keywords}">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="form-label">SEO Description</label>
						<textarea name="description" class="form-control">{$config->description}</textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					@component('update-button', ['button' => CMS::loadButton(['update'])])
				</div>
			</div>
		</form>
	</div>
</div>

<h3 class="card-title">Triggers</h3>
<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<p>Reset CMS to default. You will loose all containers, directives, images, navigations etc.</p>
			</div>

			<div class="col-md-6">
				@component('link-button', ['type' => 'danger', 'name' => 'Reset!', 'button' => CMS::loadButton(['destroy' => 'zema/configuration/trigger-confirm/reset'])]);
			</div>
		</div>

		<hr/>

		<div class="row">
			<div class="col-md-6">
				<p>Backup Database. Download a copy of your database. <i>This feature would be avaliable soon</i></p>
			</div>

			<div class="col-md-6">
				<a $href="zema/configuration" class="btn btn-success">Backup Database</a>
			</div>
		</div>
	</div>
</div>

@component('footer');