<div class="card">
    <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
            <thead>
                <th>Directive</th>
                <th>Directive Class</th>
                <th>Directive Method</th>
                <th>Action</th>
            </thead>

            <tbody>
                {$directives = Query::getAllDirectives();}
                @fetch($directives, 'directive')
                    <tr class="tr-row">
                        <td>{$directive->directive}</td>
                        <td>{$directive->directive_class}</td>
                        <td>{$directive->directive_method}</td>
                        <td>@component('table-button', ['links' => CMS::loadButton(['edit', 'delete' => 'directives/trigger-confirm/delete'], $directive->directiveid)]);</td>
                    </tr>
                @endfetch
            </tbody>
        </table>
    </div>
</div>