@container('header-with-breadcum');

<section class="section section-x">
	<div class="container">
		<div class="row gutter-vr-30px">

		{$images = @@getImages(100);}
		@fetch ($images, 'image')
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="{image($image->image, '940:650')}" class="fancybox" rel="ligthbox">
				<img src="{image($image->image, '940:650')}" class="zoom img-fluid" alt="">
			</a>
		</div>
		@endfetch
	   
	   
   </div>
</div>
</section>

@container('callout-section');
@container('footer');