<div class="breadcrumb-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumb_box text-center">
					<h2 class="breadcrumb-title">Our Shop</h2>
					<!-- breadcrumb-list start -->
					<ul class="breadcrumb-list">
						<li class="breadcrumb-item"><a $href="/">Home</a></li>
						<li class="breadcrumb-item active">Shop</li>
					</ul>
					<!-- breadcrumb-list end -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="site-wrapper-reveal">
	<div class="feature-icon-wrapper section-space--pt_100 section-space--pb_70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center section-space--mb_20">
						<h3 class="heading">We Provide the <span class="text-color-primary">Highest Value</span> <br> on Used IT Equipment!</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="feature-list__three">
						<div class="row">
							<div class="col-lg-6">
								<div class="grid-item animate">
									<div class="ht-box-icon style-03">
										<div class="icon-box-wrap">
											<a href="">
											<div class="content-header">
												<div class="icon">
													<i class="fal fa-shield-check"></i>
												</div>
												<h5 class="heading">
													Sell your used IT equipments
												</h5>
											</div>
											</a>
											<div class="content">
												<div class="text">
													Our process is designed to inject revenue into your company’s business while providing many benefits.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="grid-item animate">
									<div class="ht-box-icon style-03">
										<div class="icon-box-wrap">
											<a href="">
											<div class="content-header">
												<div class="icon">
													<i class="fal fa-medal"></i>
												</div>
												<h5 class="heading">
													Buy used IT equipments
												</h5>
											</div>
											</a>
											<div class="content">
												<div class="text">We understand your needs, from ease of use, to data security, asset recovery, refurbished equipment, and electronics recycling. </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>