@component('header');
@alert;
@component('alert-confirm', $deleteConfig);

<div class="card">
	<!-- create container -->
	<div class="card-header">
		<div class="card-title">Edit {$model->fullname}</div>
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<form action="" method="POST">
				@csrf;
				<table class="table">
					<tr>
						<td>User Name</td>
						<td>
							<input type="text" name="username" class="form-control" placeholder="Enter a user name" value="{$model->username}" required>
						</td>
					</tr>

					<tr>
						<td>Fullname</td>
						<td>
							<input type="text" name="fullname" class="form-control" placeholder="Enter user fullname" value="{$model->fullname}" required>
						</td>
					</tr>

					<tr>
						<td>Password</td>
						<td>
							<input type="password" name="password" class="form-control" placeholder="Enter user password (optional)">
						</td>
					</tr>

					<tr>
						<td>Password Again</td>
						<td>
							<input type="password" name="password2" class="form-control" placeholder="Enter user password again (required if updating password)">
						</td>
					</tr>

					<tr>
						<td>Permission</td>
						<td>
							<select name="permissionid" id="select-beast" class="form-control custom-select">
								@fetch ('permission', 'perm')
									{$selected = $perm->permissionid == $model->permissionid ? 'selected' : '';}
									<option value="{$perm->permissionid}" {$selected}>{$perm->permission}</option>
								@endfetch
							</select>
						</td>
					</tr>

					<tr>
						<td></td>
						<td>
							@component('update-button', ['button' => CMS::loadButton(['update']), 'title' => 'update'])
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<h3 class="card-title">All Users</h3>
@partial('all-users');

@component('footer');